{% extends 'base.html' %} 

{% block content %}
{% if friges %}
    <div class="row">
        <!-- 냉장고 테이블 목록 -->
        {% for frige in friges %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <h5 id = "frige_id" class="card-title">Refrigerator {{ frige.id }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ frige.name }}</h6>
                    <ul>
                        <!-- 냉장고 품목 (이름 + 수량) -->
                        {% for item in frige.items.all %}
                            <li>
                                <p id = "drink_name"> {{item.drink.name}}</p>
                                {% comment %} {{ item.drink.name }} - Quantity: <span class="result" data-item-id="{{ item.id }}">{{ item.quantity }}</span> {% endcomment %}
                                <div class="quantity">
                                    <span class="count">
                                        <!--
                                        <a href="#" class="minus" data-item-id="{{ item.id }}">-</a>
                                        <span id="result" data-item-id="{{ item.id }}">{{ item.quantity }}</span>
                                        <a href="#" class="plus" data-item-id="{{ item.id }}">+</a>-->
                                        <a href="#" id="minus/{{item.id}}" data-item-id="{{ item.id }}" onclick = "handle_quantity(this)">-</a>
                                        <span id="{{item.id}}" class="result" data-item-id="{{ item.id }}" value = "{{frige.id}}/{{item.drink.name}}/">{{ item.quantity }}</span>
                                        <a href="#" id="plus/{{item.id}}" data-item-id="{{ item.id }}" onclick = "handle_quantity(this)">+</a>
                                    </span>    
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock content %}

{%block script%}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type = "text/javascript">
    var drinks = document.querySelectorAll(".result");

    function handle_quantity(e) {
        var doc = document.getElementById(e.getAttribute('id')).getAttribute('id');
        var op = doc.split("/")[0];
        var result_id = doc.split("/")[1];
        var data = ""

        for (var i = 0; i < drinks.length; i++) {
            if (Number(drinks[i].id) == Number(result_id)) {
                var result = drinks[i];
                var result_int = Number(result.textContent);

                if (op == "minus") result_int--;
                else result_int++;
                data = drinks[i].getAttribute("value") + result_int;
                
                $.ajax({
                    type:'POST',
                    url:"http://127.0.0.1:8000/frige/quantity/",
                    data:JSON.stringify(data),
                    success:function(json){
                        console.log("data pass success",json);
                        result.innerHTML = result_int.toLocaleString();
                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); 
                    }
                });
            }
        }
    }
</script>
{%endblock script%}